.card {
  border-radius: 0.5rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.cardImg {
  height: 300px;
  width: 100%;
  position: relative;
}
.cardImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cardImg p {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 0.8rem;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 0.2rem 0.8rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
}
.cardInfo {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cardInfo h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardInfo .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardInfo a {
  background: dodgerblue;
  color: #fff;
  padding: 0.2rem 0.8rem;
  border-radius: 0.5rem;
}
